/*

- Font weights
Default: 400
Medium: 500
Semi-bold: 600 
bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.6
Paragraph default: 1.6


--- 02 COLORS

- Primary: 
- Tints: 


- Shades:


- Greys:


--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 15);

--- 06 BORDER-RADIUS
Default: 9px


--- 07 WHITESPACE


- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

.background-blur {
  position: fixed; /* או absolute, תלוי בצרכים שלך */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../imgs/img\ index.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(0.2rem);
  z-index: -1; /* כדי שהרקע יהיה מאחורי התוכן */
}

.personal-area:link,
.personal-area:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.personal-area:hover,
.personal-area:active {
  color: #4683bc;
}

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 70vh;
}

.hero-title {
  /* display: inline-block; */
  cursor: pointer;
  letter-spacing: 1.5px;
  font-weight: 600;
  grid-row: 2;
  grid-column: 2;
  font-size: 5rem;
  align-self: center;
  color: #e6e6f1;
  backdrop-filter: blur(2px);
}

.buttons-container {
  display: flex;
  gap: 40rem;

  grid-row: 3;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-weight: 600;
  width: 18rem;
  font-size: 2rem;
  padding: 1.6rem;
  border-radius: 2.4rem;
  color: #fff;
  /* background-color: #2808f9; */
  box-shadow: 0.5px 0.5px 0.5px 1px rgba(195, 196, 197, 0.97);

  border: 0;
  filter: blur(-5rem);
}

.btn:hover,
.btn:active {
  /* background-color: rgb(10, 40, 68); */
  color: #fff;
  filter: blur(-5rem);
  box-shadow: 2px 0.2rem 2rem 2px rgba(255, 255, 255, 0.97);
}
