.hidden {
  display: none !important;
}

.description {
  grid-column: 2/-1;
}

/***************************
 BUTTONS-SECTION
****************************/
.buttons-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-left: 3rem;
}

.question-buttons {
  display: inline;
  font-size: 3.6rem;
  color: #fff;
  font-weight: 600;
  width: 18rem;
  grid-column: 1/-1;
  color: #e6e7f6;
}

/***************************
 TRIP LOCATION SECTION
****************************/

.trip-location-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 3rem;
}

.save-location {
  width: 14rem;
  font-size: 2.2rem;
  margin-top: 6rem;
  padding: 1rem;
  font-weight: 500;
  border-radius: 12px;
}

#countrySearch {
  width: 70%;
  font-size: 2rem;
  padding: 1.6rem;
  border-radius: 12px;
  background: none;
  color: #fff;
  backdrop-filter: blur(0.5rem);
}

#countrySearch::placeholder {
  font-size: 2rem;
  color: #fff; /* שינוי צבע ה-placeholder */
  opacity: 1; /* אופציונלי - קובע את שקיפות הטקסט */
}

#suggestions {
  max-height: 16rem;
  overflow-y: auto;
  border-top: none;
  width: 60%;
  font-size: 1.6rem;
  padding: 1.2rem;
  /* border-radius: 9px; */
  border: none;
  color: #fff;

  scrollbar-width: none; /* עבור דפדפני Firefox */
  -ms-overflow-style: none; /* עבור Internet Explorer 10+ */
}

#suggestions::-webkit-scrollbar {
  display: none; /* עבור דפדפני WebKit כמו Chrome וSafari */
}

#suggestions div {
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 7px;

  /* border-bottom: 1px solid #ddd; */
}

#suggestions div:hover {
  /* background-color: #4d4c4c; */
  backdrop-filter: blur(1rem);
}

.citySearch {
  width: 70%;
  font-size: 2rem;
  padding: 1.6rem;
  border-radius: 9px;
  background: none;
  color: #fff;
}

.citySearch::placeholder {
  font-size: 2.4rem;
  color: #fff; /* שינוי צבע ה-placeholder */
  opacity: 1; /* אופציונלי - קובע את שקיפות הטקסט */
}

.setting-trip {
  width: 100%;
  grid-column: 1/-1;
  font-size: 3rem;
}
